<!DOCTYPE html>
<html lang="en">
<head>
  <title>テストページ</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>Ruby on Rails 入門</h1>      
    <p>少しずつ進めていくことが大切です。難しいことは考えずにどんどん入力していきましょう。</p>
  </div>
  <p>日本語が上のほうに行ってしまう問題を解決するにはどうすればいいのだろうか</p>      
  <p>わからないことは考えてもわからない。それは、論理的に導けるものではない可能性があるから。</p>      



<div class="row">
  <div class="col-sm-6">例えばここに何らかの画像を入力して表示してみると雰囲気が出ると思います。
<a href="https://www.w3schools.com/html/html_links.asp"><img src="https://png.pngtree.com/element_pic/00/16/07/08577f805b464d0.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236"></a></div>

  <div class="col-sm-6">個々の欄にも同じように何かを入力してみましょう。
<img src="https://png.pngtree.com/element_pic/00/16/07/08577f805b464d0.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236"></div>

</div>


<div class="row">
  <div class="col-sm-4">とりあえず一番簡単なために絶対パスにしてみよう。そっちのほうが、画像をアップするときに困らなくて済むからね。
  <img src="https://png.pngtree.com/element_pic/00/16/07/08577f805b464d0.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236"></div>
  <div class="col-sm-4">有料の商品を使うことにより面倒くさいことをある程度省いてくれるともいます。
  <img src="https://png.pngtree.com/element_pic/00/16/07/08577f805b464d0.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236"></div>
  <div class="col-sm-4">どんどん進めていきましょう。
  	<img src="https://png.pngtree.com/element_origin_min_pic/16/11/06/fb049143c0cf6c8a8b2a1f8486593cfc.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236"></div>
</div>

</div>
</body>
</html>
